<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up and Log In</title>
    <link rel="stylesheet" href="/css/sign_log.css">
</head>
<body>
<div class="form-structor">
    <div class="signup">
        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
        <div class="form-holder">
            <input type="text" class="input" placeholder="Name" id="name" />
            <input type="text" class="input" placeholder="User ID" id="userid" />
            <input type="text" class="input" placeholder="Phone" id="phone" />
            <input type="email" class="input" placeholder="Email" id="email" />
            <input type="password" class="input" placeholder="Password" id="password" />
        </div>
        <button class="submit-btn" onclick="submitForm()">Sign up</button>
    </div>
    <div class="login slide-up">
        <div class="center">
            <h2 class="form-title" id="login"><span>or</span>Log in</h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="user ID" id="login-userid" />
                <input type="password" class="input" placeholder="Password" id="login-password" />
            </div>
            <button class="submit-btn" onclick="submitLoginForm()">Log in</button>
        </div>
    </div>
</div>

<script src="/js/sign_log.js"></script>
</body>
</html>
