<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.springboot_notice.mapper.ArticleMapper">

    <select id="findAll" resultType="org.example.springboot_notice.domain.Article">
        SELECT * FROM article;
    </select>

    <select id="findById" resultType="org.example.springboot_notice.domain.Article">
        SELECT * FROM article WHERE id = #{id};
    </select>

    <insert id="saveArticle" parameterType="org.example.springboot_notice.domain.Article">
        INSERT INTO article(title,content,author,createTime) VALUES (#{title},#{content},#{author},#{createTime});
    </insert>

    <update id="updateArticle" parameterType="org.example.springboot_notice.domain.Article">
        UPDATE article SET title = #{title}, content = #{content}, updateTime = #{updateTime} WHERE id = #{id};
    </update>

    <delete id="deleteArticle" parameterType="long">
        DELETE FROM article WHERE id=#{id};
    </delete>

    <delete id="deleteAllArticle" parameterType="String">
        DELETE FROM article WHERE author=#{userid};
    </delete>

</mapper>