<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.springboot_notice.mapper.UserMapper">

    <insert id="createUser" parameterType="org.example.springboot_notice.domain.User">
        INSERT INTO user(name,email,phone,userid,password) VALUES (#{name},#{email},#{phone},#{userid},#{password});
    </insert>

    <select id="findById" parameterType="long" resultType="org.example.springboot_notice.domain.User">
        SELECT * FROM user WHERE id = #{id};
    </select>

    <select id="findByUserId" parameterType="String" resultType="org.example.springboot_notice.domain.User">
        SELECT * from user WHERE userid=#{userid};
    </select>

    <delete id="deleteUser" parameterType="org.example.springboot_notice.domain.User">
        DELETE FROM user WHERE userid = #{userid};
    </delete>

    <select id="joinedUserByEmail" parameterType="String" resultType="org.example.springboot_notice.domain.User">
        SELECT * from user WHERE email=#{email};
    </select>

    <select id="joinedUserByPhone" parameterType="String" resultType="org.example.springboot_notice.domain.User">
        SELECT * from user WHERE phone=#{phone};
    </select>

    <select id="validId" parameterType="String" resultType="org.example.springboot_notice.domain.User">
        SELECT * from user WHERE userid=#{userid};
    </select>


</mapper>